body
    display: flex
    flex-direction: column
    align-content: center
    // justify-content: space-between
    width: 100vw
    height: 600px
    overflow-x: hidden
    .input-section
    .first-name
    .last-name
    .country
    .score
    .add-player
    .board
        display: flex
        width: 90%
        padding: 10px
        flex-direction: column
        border: 2px dotted pink
    .ticket
        display: flex
        flex-direction: row
