body
    display: flex
    flex-direction: column
    width: 100vw
    height: 600px
    overflow-x: hidden
    header
        text-align: center

    .input-section
        width: 90%
        display: flex
        align-items: center
        justify-content: space-evenly
        &>input
            width: 180px
            height: 25px
            border: 1px solid #8383ff
            outline: none
            text-indent: 15px
            border-radius: 40px
            &:focus
                border: 1px solid #ff000051

        &>input[type=number]::-webkit-inner-spin-button,
        &>input[type=number]::-webkit-outer-spin-button
            -webkit-appearance: none
            -moz-appearance: textfield
        &>button
            width: 90px
            height: 30px
            background: none
            border-radius: 40px
            border: 1px solid #8383ff
            cursor: pointer
            &:hover
                background: #ffaa0021
            &:focus
                outline: none
                border: 1px solid #ff000051

    .first-name
    .last-name
    .country
    .score
    .add-player
    .board
        display: flex
        width: 90%
        padding: 10px
        flex-direction: column
        margin-top: 30px

    .ticket
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around
        background-color: #8383ff3f
        border-radius: 20px
        margin: 10px
        .info
            display: flex
            flex-direction: row
            min-width: 600px
            justify-content: center
            justify-content: flex-start
            & > div
                display: flex
                align-items: center
                justify-content: center
                width: 100px
                height: 40px
                color: #08181a
                font-size: 20px
                letter-spacing: 2px

        .action
            display: flex
            flex-direction: row
            width: 200px
            justify-content: space-around
            & > button
                height: 30px
                width: 30px
                border-radius: 50%
                background: none
                border: 1px solid #8383ff
                cursor: pointer
                text-align: center
            .del
                border: 1px solid #ff8383
